   <div >
	 <div >
		<%= link_to "Ducker", root_path, class: "logo" %>		
		
			  <ul class="buttons">
				<li><%= link_to "Help", help_path %></li>
				<li><%= link_to "About", about_path %></li>			
			    <% if logged_in? %>
		          <li><%= link_to "Users", users_path %></li>
		          <li><%= link_to "Map", maper_path %></li>
		          <!-- <li><%= link_to "Events", events_path %></li> -->
		          <li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		              Account <b class="caret"></b>
		            </a>
		            <ul class="dropdown-menu">
		              <li><%= link_to "Profile", current_user %></li>
		              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
		              <li ><%= link_to "My Events",events_path %></li>
		              <li>
		                <%= link_to "Log out", logout_path, method: "delete" %>
		              </li>
		            </ul>
		          </li>
		        <% else %>
		          <li><%= link_to "Log in", login_path,class:"sign_in" %></li>
		        	<li><%= link_to "Sign Up", signup_path,class:"registration" %></li>
		        <% end %>
			</ul>
	  </div>
	</div>